<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bloger|blog here</title>
</head>
<body>
    <form action="/blog" method="POST">
    
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required><br>
    <label for="blog-body">My blog</label>
    <textarea type="text" name="myblog" id="myblog" required>
    </textarea><br>
    <button>post</button>
    </form>

    <a href="/">home</a>
</body>
</html>