<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <!--nav bar-->
    <nav style=" display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;">
        <div class="site-title">
          <a href="#" style="color: black;
          font-weight: 300;"><h1 style="font-size: 3em;">IR POSTS</h1></a>
          <p style="color: black;
          font-weight: 300;">IR 3rds Site</p>
        </div>
        <ul style="display: flex;
        justify-content: space-between;
        align-items: flex-end;">
          <li style="list-style-type: none;
          margin-left: 20px; color: black;"><a href="/login">login</a></li>
          
        </ul>
      </nav>
    <!--nav bar-->






    <form action="/signup" method="POST" style="max-width: 400px;
    margin: 0 auto;">
        <label for="username" >Name</label><br>
        <input type="text" name="id" id="username" required><br>
        <label for="gmail">Gmail</label><br>
        <input type="gmail" name="gmail" id="gmail" required><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" required><br>
        <button style="margin-top: 20px;
        background: crimson;
        color: white;
        padding: 6px;
        border: 0;
        font-size: 1.2em;
        cursor: pointer;">SignUp</button><br>
    </form>

    <footer style="color: #000;
    text-align: center;
    margin: 80px auto 20px;">
        Copyright &copy; pk 2020
      </footer>


</body>
</html>